

body{
    margin: 0;
    padding: 0;
    font-family: Ebrima ;
    background-color: #f6f7f0;
}

header{
    background-color: #191919;
}

.floatleft{
    float: left;
}

.floatRight{
    float:right;
}

.delete{
    width: 10%;
    float: right;
}

.update{
    width: 10%;
    float: right;
}


#progressbar
{
    clear: both;
    margin-top: 30%;

}

.btn_dialog{
    float: right;
}

#post_title{
    width: 100%;
}

#post_task{
    display: block;
    width: 100%;
    height: 300px;
    resize: none;
}

.post_text{
    width: 194px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    resize: none;
    background-color: transparent;
    word-wrap: break-word;
    overflow: hidden;
    height: 70%;
    display: block;
}

p{
	float: left;
    display: block;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
    word-wrap: break-word;
}

#title {
    width: 40%;
}

#title{
    margin: 0;
    display: inline;
    font-style: italic;
    font-variant: small-caps;
    font-size: 3em;
    color: rgb(255, 250, 232);
    margin-left: 5%;
}

#btn_add{
    left: 93%;
    position: absolute;
    width: 51px;
    top: 2px;
}

#wrapper{
    clear: both;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.post{
    width: 200px;
    height: 100px;
    background-color: #e5ff80;
    float: left;
    margin: 2px;
}

.ui-dialog{
    width: 430px;
}
