
@media screen and (min-width: @w_desktop){

  .btn_img{
    .floatright;
    background-size: contain;
    height: 5rem;
    width: 5rem;
    margin: 0.5rem;
  }

  #btn_add{
    .displayinline;
    .btn_img;
  }

  #btn_account{
    .displaynone;
    .btn_img;
  }

  #btn_cancel_img{
    .displaynone;
    .btn_img;
  }

  #btn_apply_img{
    .displaynone;
    .btn_img;
  }

  #title{
    .floatleft;
    height: 100%;
    width: 50rem;
    margin-top: 4px;
    margin-left: 50px;
    background-size: contain;
  }

  .navbar-inverse{
    padding-right: 50px;
    height: 6rem;
    background-image: linear-gradient(to top,@color_second 0,@color_primary 100%);
  }

  #wrapper_footer{
    position: relative;
    min-height: 100%;
    height: 100%;
    margin: 0 auto -60px;
  }

  #footer{
    background-image: linear-gradient(to bottom,@color_second 0,@color_primary 100%);
    height: 6rem;
    position: fixed;
    bottom:0px;
    right: 0px;
    left: 0px;
    min-height: 50px;
  }

  .text-muted:last-child{
    .floatright;
  }

  .container_footer{
    width: 80%;
    padding-right: 8rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
  }

  nav label{
    .floatright;
    color: @color_third;
    .italic;
    margin-top: 1.5%;
  }

  #btn_new_accept{
    .btn_std;
  }

  #btn_update_accept{
    .btn_std;
  }

  #btn_cancel{
    .btn_std;
  }

  .delete{
    width: 10%;
    float: right;
  }

  .update{
    width: 10%;
    float: right;
  }

  #edition_box{
    border: solid 2px @color_second;
    border-radius: 15px;
    padding: 15px;
  }

  #post_title{
    width: 100%;
    font-family: @font_regular;
    background-color: @color_third;
    .bold;
    border: none;
  }

  #post_memo{
    font-family: @font_regular;
    background-color: @color_third;
    display: block;
    border: none;
    width: 100%;
    height: 300px;
    resize: none;
  }

  .post_text{
    width: 194px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    resize: none;
    background-color: transparent;
    word-wrap: break-word;
    overflow: hidden;
    height: 70%;
    display: block;
  }

  p{
    float: left;
    display: block;
    margin: 0;
    padding-left: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    .ultraBold;
  }

  #wrapper{
    clear: both;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }

  .post{
    width: 200px;
    height: 100px;
    background-color: @color_accent;
    float: left;
    margin: 2px;
  }
}