@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,900italic,700italic,500italic,500,400italic,300italic,300,100italic,100);
@import "helper.less";

@color_accent: #d0f14e;
@color_primary: #191919;
@color_second: #4c4c4c;
@color_third: #f6f7f0;

@font_regular: 'Roboto', sans-serif;

@img_add_btn: "../img/add_btn.png" ;
@img_account_btn: '../img/account_btn.png';
@img_title: '../img/title.png';
@img_cancel_btn: "../img/cancel.png";
@img_apply_btn: "../img/apply.png";

