<style>

</style>
<h3>
    b-thinker is created by Boxtade.<br/>
    b-thinker is a nice and simple todo which we allow you to write anythings that we think.<br/>
    You could use the b-thinker's android version at
    <a href='https://play.google.com/store/apps/details?id=com.boxtade.b_thinker&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
        <img width="100px" alt='Get it on Google Play ' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
    </a>.<br/>
    If you want to send us a comment, go to site web at http://boxtade.com/commentaires/.<br/>
    Copyright 2015 - 2016 by Boxtade. All Rights Reserved.
</h3>