<style>
    body{
        background-color:#4c4c4c ;
    }
    #wrapper{
        position: inherit;
    }
    #login{
        width:100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #4c4c4c;
        padding-top: 10%;
        padding-bottom: 10%
    }
    #box_btn_login{
        float: right;
        width: auto;
        margin: 2%;
        margin-top: -9%;
    }
    #title_login{
        width: 100%;
        padding-bottom: 10%;
    }
    #box_promo{
        width: 100%;
        background-color:#d0f14e;
        padding: 2%;
        border-radius: 2px
    }
    #text_promo{
        width: 100%;
        text-align: center;
    }
    #text_promo>h1{
        font-stretch: ultra-expanded;
        font-weight: bolder
    }
    #text_promo>h3>a>img{
        width: 8%;
    }
    #img_promo{
        margin-right: auto;
        margin-left: auto;
        width: 70%
    }
    #img_promo>img{
        width: 100%;
    }
</style>

<div id="login">
    <div id="box_btn_login">
        <button id="btn_login" >Login</button>
        <button id="btn_register">Register</button>
    </div>
    <img id="title_login" src="img/b-thinker.png">
    <div id="box_promo">
        <div id="text_promo">
            <h1>b-thinker is a very simple to-do list.</h1>
            <h3>Write any task anywhere and anytime with this application. An android version is available on Google Play.
                <a href='https://play.google.com/store/apps/details?id=com.boxtade.b_thinker&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                    <img alt='Get it on Google Play ' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
                </a>
            </h3>
        </div>
        <div id="img_promo" >
            <img src="img/demo.png">
        </div>
    </div>
    <div style="clear: both"></div>
</div>

<div id="modal_template"></div>