<style>
    .field{
        width: 100%;
        font-family: 'Roboto', sans-serif;;
        background-color: #f6f7f0;
        font-weight: bolder;
        border: none;
        border-left: 3px solid #4c4c4c;
    }
    .btn_std {
        background-color: #4c4c4c;
        font-family: 'Roboto', sans-serif;;
        font-weight: bolder;
        color:#f6f7f0;
        border: none;
        float: right;
        margin: 5px;
        border-radius: 8px;
    }
    #panel_password>input{
        margin-top: 2%;
    }
</style>
<div id="panel_password">
    <h3>Change password</h3>
    <input id="old_pwd" type="password" class="field" placeholder="Old password">
    <input id="new_pwd" type="password" class="field" placeholder="New password">
    <input id="confirm_pwd" type="password" class="field" placeholder="Confirm password">
    <button id="apply_pwd" class="btn_std">Apply</button>
    <button id="cancel_pwd" class="btn_std">Cancel</button>
</div>